App_WebReferences/ServiceReference2_ValidateDOB/WebService_ValidateDOB.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckDateOfBirth">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DOB" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DOJ" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckDateOfBirthResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckDateOfBirthResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckDateOfBirthSoapIn">
    <wsdl:part name="parameters" element="tns:CheckDateOfBirth" />
  </wsdl:message>
  <wsdl:message name="CheckDateOfBirthSoapOut">
    <wsdl:part name="parameters" element="tns:CheckDateOfBirthResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService_ValidateDOBSoap">
    <wsdl:operation name="CheckDateOfBirth">
      <wsdl:input message="tns:CheckDateOfBirthSoapIn" />
      <wsdl:output message="tns:CheckDateOfBirthSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService_ValidateDOBSoap" type="tns:WebService_ValidateDOBSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckDateOfBirth">
      <soap:operation soapAction="http://tempuri.org/CheckDateOfBirth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService_ValidateDOBSoap12" type="tns:WebService_ValidateDOBSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckDateOfBirth">
      <soap12:operation soapAction="http://tempuri.org/CheckDateOfBirth" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService_ValidateDOB">
    <wsdl:port name="WebService_ValidateDOBSoap" binding="tns:WebService_ValidateDOBSoap">
      <soap:address location="http://localhost:61695/WebService_ValidateDOB.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService_ValidateDOBSoap12" binding="tns:WebService_ValidateDOBSoap12">
      <soap12:address location="http://localhost:61695/WebService_ValidateDOB.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>